.additional__product-list {
	display: grid;
	list-style-type: none;
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	color: rgb(0 0 0);
	padding: 0;
	margin: 0;
	gap: 25px;

	@media #{$mobile-only} {
		padding-left: 46px;
	}

	@media #{$not-mobile} {
		grid-template-columns: 50% 50%;
		padding-left: 46px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
		gap: 80px;
	}
}

.additional {
	border: 0;
	padding: 0;
	margin: 0;
	padding-bottom: 40px;


	@media #{$not-mobile} {
		padding-bottom: 60px;
	}
}

.additional__title {
	padding-bottom: 40px;
	position: relative;

	@media #{$not-mobile} {
		padding-bottom: 62px;
	}
}

.additional__text {
	text-align: center;

	@media #{$mobile-only} {
		padding-top: 21px;
		padding-bottom: 32px;
		margin-block: 0;
	}
}

.additional__product-title {
	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}
}


@media #{$mobile-only} {
	.additional__product-control-input {
		appearance: none;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 30px;
			height: 30px;
			border: 1px solid rgb(205 205 205 / 1);
			top: -20px;
			left: -45px;
		}

		&:checked::after {
			content: "";
			position: absolute;
			display: block;
			width: 30px;
			height: 30px;
			background-image: url("/icons/stack.svg#tick-checkbox");
			top: -20px;
			left: -45px;
		}
	}
}

.additional__product-control-input {
	appearance: none;
	position: relative;

	@media #{$tablet-only} {
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			border: 1px solid rgb(205 205 205 / 1);
			top: -25px;
			left: -65px;
		}

		&:checked::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			background-image: url("/icons/stack.svg#tick-checkbox");
			top: -25px;
			left: -65px;
		}
	}

	@media #{$desktop-only} {
		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			border: 1px solid rgb(205 205 205 / 1);
			top: -25px;
			left: -50px;
		}

		&:checked::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			background-image: url("/icons/stack.svg#tick-checkbox");
			top: -25px;
			left: -50px;
		}
	}
}
