@media #{$desktop-only} {
	.additional-catalog__wrapper {
		display: grid;
		grid-template-columns: 3fr 1fr;
		column-gap: 80px;
	}

	.additional-catalog__list {
		display: grid;
		gap: 54px;
	}
}

@media #{$not-mobile} {
	.additional-catalog__list {
		gap: 54px;
	}
}

.additional-catalog__label {
	font-family: "Oswald", sans-serif;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	color: rgb(0 0 0);
	text-align: center;
}

.additional-catalog__list {
	list-style-type: none;
	padding: 0;
}


@media #{$mobile-only} {
	.additional-catalog__list {
		display: grid;
		gap: 32px;
	}
}
