.additional__product-list {
	display: grid;
	list-style-type: none;
	font-family: var(--accent-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	color: rgb(0 0 0);
	padding: 0;
	margin: 0;

	@media #{$mobile-only} {
		padding-left: 37px;
		gap: 24px;
	}

	@media #{$not-mobile} {
		grid-template-columns: 50% 50%;
		padding-left: 48px;
		column-gap: 56px;
		row-gap: 38px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(4, 1fr);
		gap: 120px;
	}
}

.additional {
	border: 0;
	padding: 0;
	margin: 0;
	padding-bottom: 40px;


	@media #{$not-mobile} {
		padding-bottom: 60px;
	}
}

.additional__title {
	padding-bottom: 40px;
	position: relative;

	@media #{$not-mobile} {
		padding-bottom: 62px;
	}
}

.additional__product-title {
	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
	}
}


.additional__product-control-input {
	appearance: none;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		border: 1px solid rgb(205 205 205 / 1);
	}

	&:checked::after {
		content: "";
		position: absolute;
		display: block;
		width: 40px;
		height: 40px;
		background-image: url("../../icons/stack.svg#tick-checkbox");
	}

	@media #{$mobile-only} {
		&::after {
			top: -20px;
			left: -40px;
			width: 30px;
			height: 30px;
		}

		&:checked::after {
			top: -20px;
			left: -40px;
			width: 30px;
			height: 30px;
		}
	}

	@media #{$tablet-only} {
		&::after {
			top: -27px;
			left: -55px;
		}

		&:checked::after {
			top: -27px;
			left: -55px;
		}
	}

	@media #{$desktop-only} {
		&::after {
			top: -30px;
			left: -50px;
		}

		&:checked::after {
			top: -30px;
			left: -50px;
		}
	}

	&:hover {
		&::after {
			border: 1px solid rgb(186 186 186 / 1);
		}
	}

	&:disabled {
		opacity: 0.3;
	}
}
