.additional-product-card {
	display: grid;
	border-top: 1px solid #cdcdcd;

	@media #{$tablet-only} {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		padding-inline: 37px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 305px 305px 245px;
		align-items: center;
		gap: 20px;
	}
}

.additional-product-card__label {
	font-family: var(--accent-font);
	font-weight: 400;
	text-align: left;
	text-transform: uppercase;
	color: #222222;
	margin: 0;
	font-size: 20px;
	line-height: 20px;

	@media #{$mobile-only} {
		margin-block: 13px;
		font-size: 16px;
		line-height: 16px;
	}

	@media #{$tablet-only} {
		margin-block: 26px;
	}

	@media #{$desktop-only} {
		margin-block: 25px;
	}
}


.additional-product-card__discription {
	display: grid;
	grid-template-columns: auto 61px;
	gap: 20px;
	justify-content: space-between;
	font-size: 14px;
	line-height: 14px;

	@media #{$mobile-only} {
		margin-bottom: 15px;
	}

	@media #{$not-mobile} {
		grid-template-columns: 224px 61px;
		font-size: 16px;
		line-height: 20px;
	}

	@media #{$tablet-only} {
		margin-top: 6px;
		justify-content: end;
		gap: 34px;
	}

	@media #{$desktop-only} {
		grid-template-columns: 224px 61px;
		margin-block: 28px 23px;
		text-align: left;
	}
}

.additional-product-card__quantity {
	margin: 0;

	@media #{$tablet-only} {
		text-align: end;
	}
}

.additional-product-card__price {
	margin: 0;
	text-align: end;

	@media #{$tablet-only} {
		padding-right: 5px;
	}

	@media #{$desktop-only} {
		text-align: start;
	}
}

.additional-product-card__button {
	padding: 10px;
	font-size: 16px;
	line-height: 20px;

	@media #{$tablet-only} {
		grid-column: 1/3;
	}

	@media #{$desktop-only} {
		height: 40px;
		box-sizing: border-box;
	}
}
