.additional-catalog__wrapper {
	@media #{$desktop-only} {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 80px;
		margin-bottom: 86px;
	}
}

.additional-catalog__list {
	display: grid;
	gap: 18px;
	list-style-type: none;
	padding: 0;
	border-bottom: 1px solid #cdcdcd;
	margin: 0;

	@media #{$mobile-only} {
		padding-bottom: 19px;
		margin-bottom: 35px;
	}

	@media #{$tablet-only} {
		gap: 26px;
		margin-bottom: 68px;
		padding-bottom: 28px;
	}

	@media #{$desktop-only} {
		grid-column: span 3;
		gap: 0;
	}
}

.additional-catalog__label {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	color: rgb(0 0 0);
	text-align: left;
	font-size: 36px;
	line-height: 36px;

	@media #{$mobile-only} {
		font-size: 24px;
		line-height: 24px;
		margin-block: 25px 34px;
	}

	@media #{$tablet-only} {
		margin-block: 68px 80px;
		padding-left: 36px;
	}

	@media #{$desktop-only} {
		margin-block: 76px 81px;
	}
}
