.advantages__list {
	list-style-type: none;
	text-align: left;
	display: grid;
	gap: 24px;
}

@media #{$not-mobile} {
	.advantages__list {
		display: grid;
		grid-template-columns: 230px 230px;
		gap: 37px 153px;
	}
}

@media #{$desktop-only} {
	.advantages__list {
		display: flex;
		gap: 94px;
	}
}

.advantages__title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: rgb(0 0 0 / 1);
	text-transform: none;
	text-align: left;
}

.advantages__item {
	color: var(--main-color);
}
