.button {
	font-family: "Oswald", sans-serif;
	font-weight: 400px;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	background-color: var(--accent-color);
	border: none;

	&:hover {
		background-color: rgb(94 170 47);
	}

	&:focus {
		background-color: rgb(94 170 47);
	}

	&:active {
		background-color: rgb(94 170 47);
		color: rgb(255 255 255 / 0.3);
	}

	&:disabled {
		background: rgb(255 255 255 / 0.3);
	}
}
