.card-show-more {
	padding-block: 15px;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	row-gap: 10px;

	@media #{$not-mobile} {
		padding: 52px 36px 39px;
		border: 2px solid #f2f2f2;
		align-items: center;
		margin-top: 81px;
	}

	@media #{$desktop-only} {
		// padding: 0 38px 38px 38px;
		border: 2px solid #f2f2f2;
		align-items: center;
		margin-top: 82px;
	}
}

.card-show-more__label {
	--icon-size: 30px;
	margin: 0;
	display: grid;
	grid-template-rows: min-content;
	row-gap: 22px;
	place-items: center;
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: rgb(17 17 17);
	text-transform: uppercase;
	position: relative;

	@media #{$not-mobile} {
		--icon-size: 60px;
		row-gap: 47px;
		padding-inline: 50px;
		font-size: 20px;
		line-height: 22px;
		margin: 0;
	}

	@media #{$desktop-only} {
		margin: 0;
		padding-inline: 0;
	}

	&::before {
		content: "";
		width: var(--icon-size);
		height: var(--icon-size);
		display: block;
		background: url("../../icons/stack.svg#plus");
	}
}

.card-show-more__description {
	align-self: start;
	font-size: 12px;
	line-height: 16px;

	@media #{$not-mobile} {
		margin: 12px 0 0 0;
		padding-inline: 36px;
		font-size: 16px;
		line-height: 18px;
		text-align: center;
	}

	@media #{$desktop-only} {
		padding-inline: 0;
		// padding-block: 23px 87px;
	}
}

.card-show-more__button {
	margin-block: 10px;
	padding: 10px;
	font-family: var(--accent-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	background-color: rgb(242 242 242);
	color: var(--main-color);
	text-transform: uppercase;
	text-decoration: none;

	@media #{$not-mobile} {
		margin: 0;
	}

	@media #{$desktop-only} {
		// padding-inline: 37px;
	}

	&:hover {
		background-color: #ebebeb;
	}

	&:focus-visible {
		background-color: #ebebeb;
	}

	&:active {
		background-color: #ebebeb;
		color: rgb(4 4 4 / 0.3);
	}

	&:is(:not([href]), :disabled) {
		background-color: #ebebeb;
		color: rgb(4 4 4 / 0.3);
	}
}
