.cat-energy-description {
	display: grid;
}

@media #{$not-mobile} {
	.cat-energy-description__wrapper {
		display: contents;
	}

	.cat-energy-description__button {
		grid-template-rows: 3/4;
	}

	.cat-energy-description__img {
		grid-template-columns: 3/4;
	}
}

@media #{$desktop-only} {
	.cat-energy-description {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.cat-energy-description__wrapper {
		display: block;
	}
}

.cat-energy-description__title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-style: none;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #ffffff;
	background-color: var(--accent-color);
}

.cat-energy-description__text {
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
	background-color: var(--accent-color);
	text-align: center;
	text-transform: uppercase;
}

.cat-energy-description__button {
	padding: 7px 44px;
	order: 3;
}
