.cat-energy-description {
	position: relative;
	font-family: var(--accent-font);
	margin-bottom: 20px;

	@media #{$mobile-only} {
		position: relative;
		color: #ffffff;
	}

	@media #{$tablet-only} {
		--has-bg: none;
		margin-bottom: -2px;
	}

	@media #{$desktop-only} {
		--bg-height: 694px;
		--bg-width-decrement: 50%;
		--cat-position: left 0px;
		--cat-size: 1040px var(--bg-height);
		position: static;
		margin-bottom: 134px;
	}

	@include bg-image("cat-background");

	&::after {
		content: var(--has-bg, "");
		position: absolute;
		z-index: -1;
		left: var(--bg-width-decrement, 0);
		right: 0;
		top: 0;
		height: var(--bg-height, 302px);
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat var(--cat-position, center) / var(--cat-size, contain),
			linear-gradient(
				rgb(62 61 66),
				rgb(62 61 66)
			);
	}
}

.cat-energy-description__container {
	display: grid;

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
	}
}

.cat-energy-description__wrapper {
	@media #{$mobile-only} {
		display: contents;
	}

	@media #{$not-mobile} {
		z-index: 1;
		display: grid;
		padding-inline: 88px;
	}

	@media #{$desktop-only} {
		place-self: start;
		padding-inline: 80px;
	}
}

.cat-energy-description__title {
	font-family: var(--accent-font);
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	margin-block: 28px;

	@media #{$mobile-only} {
		text-align: center;
	}

	@media #{$not-mobile} {
		margin-block: 32px;
		font-size: 60px;
		line-height: 60px;
		color: #000000;
	}

	@media #{$desktop-only} {
		margin-block: 53px;
	}
}

.cat-energy-description__text {
	margin-top: -4px;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;
	text-transform: uppercase;

	@media #{$mobile-only} {
		text-align: center;
	}

	@media #{$not-mobile} {
		margin-block: 9px;
		font-size: 20px;
		line-height: 20px;
		color: #000000;
	}

	@media #{$desktop-only} {
		margin-top: -13px;
	}
}

.cat-energy-description__img {
	display: block;
	margin: 29px auto 3px;

	@media #{$not-mobile} {
		margin-top: -83px;
	}

	@media #{$desktop-only} {
		margin-top: -30px;
		margin-left: -162px;
	}
}

.cat-energy-description__button {
	display: block;
	padding: 11px 22px;
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #68b738;

	@media #{$mobile-only} {
		order: 1;
	}

	@media #{$not-mobile} {
		z-index: 1;
		margin-top: 40px;
		margin-right: auto;
		font-size: 20px;
		line-height: 20px;
		padding: 17px 26px;
	}

	@media #{$desktop-only} {
		margin-top: 43px;
		font-size: 20px;
		line-height: 20px;
	}

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		background-color: #5eaa2f;
		color: rgba(255 255 255 / 0.3);
	}
}
