.catalog__card-list {
	--gap-min: 60;
	--gap-max: 80;
	--vp-min: 768;
	--vp-max: 1280;
	position: relative;
	list-style-type: none;
	display: grid;
	margin: 0;
	padding: 24px 0 0;
	grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	row-gap: 19px;
	column-gap: clamp(
		var(--gap-min) * 1px,
		var(--gap-min) * 1px + (100vw - var(--vp-min) * 1px) * (var(--gap-max) - var(--gap-min)) / (var(--vp-max) - var(--vp-min)),
		var(--gap-max) * 1px
	);

	@media #{$mobile-only} {
		--has-separator: "";
	}

	@media #{$not-mobile} {
		padding: 52px 0 0;
		row-gap: 61px;
	}

	@media #{$desktop-only} {
		padding: 66px 0 0;
	}

	&::after {
		content: var(--has-separator, none);
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100vw;
		height: 1px;
		background: #ebebeb;
		box-shadow: 100vw 0 0 0 #ebebeb;
	}
}

.catalog__card-item {
	position: relative;

	@media #{$mobile-only} {
		&::before {
			content: "";
			position: absolute;
			top: -12px;
			right: 0;
			width: 100vw;
			height: 1px;
			background: #ebebeb;
			box-shadow: 100vw 0 0 0 #ebebeb;
		}
	}
}
