.catalog__title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	color: rgb(0 0 0 / 1);
	text-align: left;
	font-size: 60px;
	line-height: 60px;

	@media #{$mobile-only} {
		padding-block: 27px 41px;
		font-size: 36px;
		line-height: 36px;
	}

	@media #{$tablet-only} {
		padding-block: 39px 82px;
	}

	@media #{$desktop-only} {
		padding-block: 20px 84px;
	}
}

.catalog__card-list {
	list-style-type: none;
	display: grid;
	padding: 0;
	grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
	gap: clamp(35px, calc(25px + 100vw / 25.6), 80px);
	margin: 0;

	@media #{$mobile-only} {
		border-bottom: 1px solid #ebebeb;
	}

	@media #{$tablet-only} {
		margin: 0 30px;
	}

	@media #{$desktop-only} {
		width: 1220px;
		margin: 0 auto;
	}
}

.catalog__card-item {
	@media #{$mobile-only} {
		padding-top: 19px;
		border-top: 1px solid #ebebeb;
	}
}
