.comment {
	display: flex;
	flex-direction: column;

	@media #{$mobile-only} {
		padding-bottom: 23px;
	}

	@media #{$tablet-only} {
		padding-bottom: 65px;
	}

	@media #{$desktop-only} {
		padding-bottom: 67px;
	}
}

.comment__title {
	@media #{$mobile-only} {
		padding-bottom: 38px;
	}

	@media #{$not-mobile} {
		padding-bottom: 76px;
	}
}

.comment__field {
	@media #{$mobile-only} {
		padding: 9px 12px 125px 15px;
		height: 150px;
	}

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 30px;
		padding: 10px 10px 147px 19px;
		height: 174px;
	}
}
