.contacts {
	border: 0;
	padding: 0;
	margin: 0;

	@media #{$mobile-only} {
		padding-block: 26px 24px;
	}

	@media #{$tablet-only} {
		padding-bottom: 62px;
	}

	@media #{$desktop-only} {
		padding-bottom: 67px;
	}
}

.contacts__wrapper {
	display: grid;
	gap: 14px;

	@media #{$tablet-only} {
		gap: 20px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
	}
}

.contacts__item {
	display: flex;
	gap: 20px;
}

.contacts__icon {
	position: relative;

	&--email::before {
		content: "";
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		mask: url("../../icons/stack.svg#mail");
		background-color: #222222;
		top: 14px;
		left: -50px;
	}

	&--phone::before {
		content: "";
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		mask: url("../../icons/stack.svg#phone");
		background-color: #222222;
		top: 14px;
		left: -50px;
	}

	@media #{$tablet-only} {
		&--email::before {
			left: -70px;
		}

		&--phone::before {
			left: -70px;
		}
	}

	@media #{$desktop-only} {
		&--email::before {
			left: -60px;
			z-index: 2;
		}

		&--phone::before {
			left: -60px;
			z-index: 2;
		}
	}
}

.contacts__email:focus-visible + .contacts__icon {
	&:focus {
		&--email::before {
			background-color: var(--acent-color);
		}

		&--phone::before {
			background-color: var(--acent-color);
		}
	}

	&--error {
		&--email::before {
			background-color: #ff8282;
		}

		&--phone::before {
			background-color: #ff8282;
		}
	}
}

.contacts__phone {
	@media #{$mobile-only} {
		width: 202px;
	}

	@media #{$tablet-only} {
		width: 529px;
	}

	@media #{$desktop-only} {
		width: 467px;
	}
}

.contacts__email {
	@media #{$mobile-only} {
		width: 218px;
		padding: 15px 52px 14px 13px;
	}

	@media #{$tablet-only} {
		width: 548px;
	}

	@media #{$desktop-only} {
		width: 486px;
	}
}

.contacts__title {
	@media #{$mobile-only} {
		padding-bottom: 35px;
		width: 188px;
	}

	@media #{$tablet-only} {
		padding-bottom: 76px;
	}

	@media #{$desktop-only} {
		padding-bottom: 76px;
		position: relative;
	}
}
