.cooperation {
	background-color: #ffffff;
}

.cooperation__adress-wrapper {
	display: flex;
}

.cooperation__title {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
	text-transform: uppercase;
	color: rgb(17 17 17 / 1);
}

.cooperation__adress-adress {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}
