.cooperation {
	display: grid;
}

.cooperation__adress {
	@media #{$desktop-only} {
		z-index: 1;
		grid-area: 1 / 1 / 2 / 2;
	}
}

.cooperation__adress-map {
	@media #{$desktop-only} {
		grid-area: 1 / 1 / 2 / 2;
	}
}
