.copyright__link {
	color: rgb(68 68 68 / 1);
	font-family: "Lato", sans-serif;
	font-weight: 400;
	text-align: left;
	text-decoration: none;
	position: relative;

	&::after {
		content: "";
		display: block;
		width: 27px;
		height: 34px;
		background-image: url("../../icons/stack.svg#html-academy-logo");
		left: 250px;
		top: -7px;
	}

	@media #{$mobile-only} {
		display: contents;
		font-size: 16px;
		line-height: 19px;
		text-align: right;
	}

	@media #{$not-mobile} {
		text-align: right;

		&::after {
			left: 120px;
			position: absolute;
		}
	}
}

.copyright {
	@media #{$not-mobile} {
		justify-content: end;
		padding-right: 55px;
	}

	@media #{$mobile-only} {
		display: flex;
		justify-content: space-between;
	}
}
