.example {
	--bg-color: #eaeaea;
	color: #000000;
	position: relative;
	padding-bottom: 40px;

	@media #{$not-mobile} {
		--bg-top-shift: calc(100% - 462px);
		padding-bottom: 100px;
	}

	@media #{$tablet-only} {
		--bg-color: #ffffff;
		border-top: 1px solid #e6e6e6;
	}

	@media #{$desktop-only} {
		--bg-top-shift: 158px;
		padding-bottom: 0;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		right: 0;
		bottom: 0;
		top: var(--bg-top-shift, 0);
		width: 100vw;
		background-color: hsl(0 0% 92%);
		box-shadow: 100vw 0 0 0 hsl(0 0% 92%);
	}
}

.example__container {
	display: grid;

	@media #{$desktop-only} {
		--bg-top-shift: 236px;
		grid-template-columns: auto 560px;
		gap: 224px;
	}
}

.example__title {
	margin-top: 24px;
	margin-bottom: 40px;

	@media #{$tablet-only} {
		margin-top: 43px;
		margin-bottom: 63px;
	}

	@media #{$desktop-only} {
		margin-bottom: 145px;
	}
}

.example__description {
	font-size: 14px;
	line-height: 18px;
	color: #444444;
	font-family: var(--main-font);

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
	}
}

.example__result-list {
	margin-block: 20px;
	display: grid;
	text-align: center;
	font-family: var(--accent-font);

	@media #{$mobile-only} {
		grid-template-columns: 1fr 1fr;
		gap: 10px 32px;
	}

	@media #{$not-mobile} {
		margin-block: 54px 90px;
		gap: 42px;
	}

	@media #{$tablet-only} {
		grid-template-columns: 1fr 1fr 1fr 96px;
	}

	@media #{$desktop-only} {
		grid-template-columns: repeat(2, 162px);
		margin-block: 69px 70px;
	}
}

.example__result-item {
	font-family: var(--accent-font);
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;

	@media #{$not-mobile} {
		font-size: 20px;
		line-height: 20px;
	}

	&--total {
		--separator: ": ";
		grid-column: span 2;
		place-self: center;
		display: flex;

		@media #{$tablet-only} {
			flex-direction: column;
			text-align: right;
			place-self: start end;
			gap: 10px;
			margin-block: 10px;
		}

		@media #{$desktop-only} {
			justify-self: start;
			gap: 60px;
			margin-block: 4px;
		}
	}
}

.example__result-key {
	margin: 0;

	&::after {
		content: var(--separator);
		white-space: pre;

		@media #{$tablet-only} {
			white-space: normal;
		}
	}
}

.example__result-value {
	margin: 0;
}

.example__compare {
	margin: 0;
	align-self: start;
	justify-self: center;

	@media #{$desktop-only} {
		margin-top: 24px;
	}
}
