.field {
	background-color: rgb(255 255 255);
	border: 1px solid rgb(231 231 231 / 1);
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;
	text-align: left;
	color: var(--main-color);
	appearance: textfield;
	box-sizing: border-box;

	@media #{$mobile-only} {
		padding: 14px 20px 13px 20px;
		height: 45px;
	}

	@media #{$not-mobile} {
		padding: 11px 20px;
		height: 52px;
	}
}
