.label {
	font-family: var(--accent-font);
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	padding-block: 7px;
	font-size: 20px;
	line-height: 30px;

	@media #{$mobile-only} {
		padding-block: 12px;
		font-size: 16px;
		line-height: 18px;
	}
}
