@media #{$desktop-only} {
	.page-form__field-wrapper {
		display: grid;
		grid-template-columns: repeat(2, 569px);
		gap: 80px;
		padding-bottom: 69px;
		width: 1220px;
		margin: 0 auto;
	}
}

@media #{$tablet-only} {
	.page-form {
		margin-inline: 40px 37px;
	}
}
