.page-header {
	width: 100%;
	background-color: #ffffff;
}

.page-header__wrapper {
	display: flex;
	justify-content: space-between;
}

.page-header__logo {
	display: flex;
	justify-content: space-between;
}
