.product-card {
	padding-block: 10px;
	display: grid;
	row-gap: 6px;

	@media #{$mobile-only} {
		grid-template-columns: 1fr 1fr;
	}

	@media #{$not-mobile} {
		grid-template-rows: min-content min-content 1fr min-content;
		row-gap: 12px;
		padding: 7px 36px 39px;
		text-align: center;
		background: linear-gradient(transparent 81px, #f2f2f2 81px);
	}

	@media #{$desktop-only} {
		row-gap: 16px;
		padding: 1px 34px 40px 39px;
	}
}

.product-card__link {
	text-decoration: none;

	@media #{$mobile-only} {
		grid-column-start: 2;
		grid-column-end: 3;
	}
}

.product-card__label {
	font-family: var(--accent-font);
	font-weight: 400;

	text-transform: uppercase;
	color: rgb(34 34 34);

	@media #{$mobile-only} {
		font-size: 16px;
		line-height: 20px;
		max-width: 76px;
		margin: 0 60px 0 0;
		text-align: left;
	}

	@media #{$not-mobile} {
		margin-block: 0;
		padding-inline: 50px;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
	}

	@media #{$desktop-only} {
		font-size: 20px;
		line-height: 21px;
		max-width: 145px;
		margin: 0 auto;
		text-align: center;
		padding-inline: 10px;
	}
}

.product-card__link-img {
	text-decoration: none;

	@media #{$mobile-only} {
		grid-row: 1/3;
	}

	@media #{$not-mobile} {
		order: -1;
		justify-self: center;
		margin-block-end: 22px;
	}

	@media #{$desktop-only} {
		margin-block-end: 30px;
	}
}

.product-card__img {
	display: block;
}

.product-card__description {
	display: grid;
	padding-block: 9px;
	font-family: var(--main-font);
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: #444444;

	@media #{$mobile-only} {
		grid-template-columns: 1fr auto;
	}

	@media #{$not-mobile} {
		--key-value-padding: 7px;
		grid-template-columns: 1fr 1fr;
		padding-block: 0 20px;
		align-self: start;
	}

	@media #{$desktop-only} {
		padding-block: 0 12px;
		padding-inline: 1px;
	}
}

.product-card__description-key {
	margin: 0;
	padding: 0;
	text-align: left;

	@media #{$not-mobile} {
		box-sizing: border-box;
		border-bottom: 1px solid #cdcdcd;
		padding-block: var(--key-value-padding);
		font-size: 16px;
		line-height: 16px;
		color: #444444;
	}
}

.product-card__description-value {
	margin: 0;
	padding: 0;
	text-align: right;

	@media #{$not-mobile} {
		box-sizing: border-box;
		border-bottom: 1px solid #cdcdcd;
		padding-block: var(--key-value-padding);
		font-size: 16px;
		line-height: 18px;
		color: #444444;
	}
}

.product-card__button {
	margin-block: 6px;
	padding: 10px;
	font-size: 16px;
	line-height: 20px;

	@media #{$mobile-only} {
		grid-column: 1 / 3;
	}

	@media #{$not-mobile} {
		padding-block: 10px;
		margin-block: 0;
	}

	@media #{$desktop-only} {
		padding-block: 10px;
		margin-inline-end: 2px;
	}
}
