.program-type {
	list-style-type: none;
	padding: 0;
}

.program-type__card {
	background-color: rgb(242 242 242);
}

@media #{$desktop-only} {
	.program-type {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
	}
}

@media #{$mobile-only} {
	.program-type__card {
		padding-block: 30px 18px;
		margin-top: 20px;
	}

	.program-type__card-title {
		padding-inline: 91px 20px;
		width: fit-content;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-color: var(--accent-color);
			left: 20px;
			top: -10px;
		}

		&--slim::after {
			content: "";
			position: absolute;
			display: block;
			background-image: url("source/icons/stack.svg#tall-cat");
			width: 67px;
			height: 28px;
		}

		&--pro::after {
			content: "";
			position: absolute;
			display: block;
			background-image: url("source/icons/stack.svg#long-cat");
			width: 67px;
			height: 28px;
		}
	}

	.program-type__card-description {
		padding: 24px 316px 48px 52px;
		margin: 0;
	}

	.program-type__card-button {
		padding-left: 19px;
		width: fit-content;
		position: relative;
	}
}

@media #{$not-mobile} {
	.program-type {
		display: grid;
		gap: 30px;
	}

	.program-type__card {
		padding-block: 77px 53px;
	}

	.program-type__card-title {
		padding-inline: 53px 30px;
		width: fit-content;
	}

	.program-type__card-description {
		padding: 24px 316px 52px 48px;
		margin: 0;
	}

	.program-type__card-button {
		padding-left: 52px;
	}
}

.program-type__card-title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 37px;
	color: rgb(0 0 0 / 1);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.program-type__card-description {
	font-family: "Lato", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-align: left;
	color: var(--main-color);
}

.program-type__card-button {
	font-family: "Oswald", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(0 0 0 / 1);
}
