.program-type {
	list-style-type: none;
	padding: 0;
}

.program-type__card {
	background-color: rgb(242 242 242);
}

@media #{$desktop-only} {
	.program-type {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 80px;
	}

	.program-type__card {
		width: 570px;
		padding-block: 77px 55px;
	}

	.program-type__card-description {
		padding-block: 73px 23px;
		padding-inline: 52px;
		margin: 0;
		font-size: 16px;
		line-height: 24px;
		width: 457px;
	}

	.program-type__card-title {
		font-size: 36px;
		line-height: 36px;
		padding-inline: 214px 20px;
		width: fit-content;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: var(--accent-color);
			left: 55px;
			top: -40px;
		}

		&--slim::after {
			content: "";
			position: absolute;
			display: block;
			background-image: url("/icons/stack.svg#tall-cat");
			width: 70px;
			height: 97px;
			left: 77px;
			top: -40px;
		}

		&--pro::after {
			content: "";
			position: absolute;
			display: block;
			background-image: url("/icons/stack.svg#long-cat");
			width: 134px;
			height: 56px;
			left: 33px;
			top: -17px;
		}
	}

	.program-type__card-button {
		font-size: 20px;
		line-height: 30px;
		position: relative;
		padding-left: 52px;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			background-image: url("/icons/stack.svg#arrow");
			left: 175px;
			top: 10px;
		}
	}
}

@media #{$mobile-only} {
	.program-type__card {
		padding-block: 30px 18px;
		margin: 20px 0;
	}

	.program-type__card-title {
		padding-inline: 22px 20px;
		width: fit-content;
		font-size: 24px;
		line-height: 36px;

		--has-icon: "";
		--circle-radius: calc(100% * 100 / 280);
		--circle-color: var(--accent-color);
		--icon-position: left;
		--icon-size: 50px;
		--icon-margin: -6px 9px 12px -8px;

		&::before {
			content: var(--has-icon, none);
			display: block;
			float: var(--icon-position);
			block-size: var(--icon-size);
			inline-size: var(--icon-size);
			margin: var(--icon-margin);
			background-image: var(--icon, var(--icon-a)), radial-gradient(var(--circle-color) calc(var(--circle-radius) - 0.5px), transparent calc(var(--circle-radius) + 0.5px));
		}

		&--slim {
			--icon: url("/icons/stack.svg#tall-cat");
		}

		&--pro {
			--icon: url{"/icons/stack.svg#long-cat"};
		}
	}

	.program-type__card-description {
		padding: 29px 33px 38px 20px;
		margin: 0;
		font-size: 14px;
		line-height: 18px;
	}

	.program-type__card-button {
		padding-left: 19px;
		width: fit-content;
		position: relative;
		font-size: 16px;
		line-height: 16px;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			background-image: url("/icons/stack.svg#arrow");
			left: 110px;
			top: 7px;
		}
	}
}

@media #{$tablet-only} {
	.program-type {
		display: grid;
		gap: 30px;
	}

	.program-type__card {
		padding-block: 77px 53px;
		width: 708px;
	}

	.program-type__card-title {
		padding-inline: 53px 30px;
		width: fit-content;
		position: relative;
		font-size: 36px;
		line-height: 36px;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: var(--accent-color);
			left: 450px;
			top: -10px;
		}

		&--slim::after {
			content: "";
			position: absolute;
			display: block;
			background-image: url("/icons/stack.svg#tall-cat");
			width: 150px;
			height: 195px;
			left: 465px;
			top: -25px;
		}

		&--pro::after {
			content: "";
			position: absolute;
			display: block;
			background-image: url("/icons/stack.svg#long-cat");
			width: 268px;
			height: 112px;
			left: 400px;
			top: 33px;
		}
	}

	.program-type__card-description {
		padding: 24px 316px 52px 48px;
		margin: 0;
		font-size: 16px;
		line-height: 24px;
		width: 340px;
	}

	.program-type__card-button {
		padding-left: 52px;
		font-size: 20px;
		line-height: 30px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 32px;
			height: 10px;
			background-image: url("/icons/stack.svg#arrow");
			left: 175px;
			top: 10px;
		}
	}
}

.program-type__card-title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	color: rgb(0 0 0 / 1);
	text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.program-type__card-description {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	text-align: left;
	color: var(--main-color);
}

.program-type__card-button {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(0 0 0 / 1);
}
