.site-list {
	list-style-type: none;
}

.site-list__item-link {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: rgb(0 0 0);
	text-decoration: none;
}

@media #{$not-mobile} {
	.site-list {
		display: flex;
		gap: 34px;
	}

	.site-list__item-link {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}
}

@media #{$desktop-only} {
	.site-list {
		gap: 37px;
	}
}
