.site-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.site-list__item-link {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
	color: rgb(0 0 0);
	text-decoration: none;
}

@media #{$mobile-only} {
	.site-list {
		border-bottom: 1px solid #e6e6e6;
		width: 100%;
	}

	.site-list__item {
		background-color: #ffffff;
		padding-block: 22px;
		text-align: center;
		border-top: 1px solid #e6e6e6;
		padding-inline: 20px;
	}
}

@media #{$desktop-only} {
	.site-list {
		display: flex;
		gap: 34px;
		z-index: 5;
		padding-top: 70px;
	}

	.site-list__item-link {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		text-align: left;
	}

	.site-list__item[aria-current="page"] {
		position: relative;
	}

	.site-list__item[aria-current="page"]::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 2px;
		background: var(--accent-color);
	}
}

@media #{$desktop-only} {
	.site-list {
		gap: 37px;
	}

	.site-list__item-link {
		color: #000000;
	}

	.site-list__item-link--with-background {
		color: #ffffff;
	}

	.site-list__item[aria-current="page"] {
		position: relative;
	}

	.site-list__item[aria-current="page"]::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 2px;
		background: #ffffff;
	}
}
