.advantages__list {
	list-style-type: none;
	text-align: left;
}

.advantages__title {
	font-family: "Oswald", sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 40px;
	color: rgba(0, 0, 0, 1);
	text-transform: none;
	text-align: left;
}

.advantages__item {
	color: rgba(68, 68, 68, 1);
}
