<footer class="main-footer">
	<div class="main-footer__wrapper page__centerer">
		<div class="main-footer__logo">
			<a class="main-footer__logo-link" href="index.html">
				<img class="main-footer__logo-text" src="./img/logo.svg#logo-text" alt="CAT ENERGY" width="128" height="24">
			</a>
		</div>
		<div class="main-footer__social">
			<h2 class="visually-hidden">Социальные cети Кэт Энержи</h2>
			<ul class="main-footer__social-list">
				<li class="main-footer__social-item">
					<a class="main-footer__social-link main-footer__social-link--vk" href="https://vk.com/htmlacademy"><span class="visually-hidden">Вконтакте</span>
					</a>
				</li>
				<li class="main-footer__social-item">

					<a class="main-footer__social-link main-footer__social-link--youtube" href="https://youtube.com/user/htmlacademyru"><span class="visually-hidden">YouTube</span>
					</a>
				</li>
				<li class="main-footer__social-item">

					<a class="main-footer__social-link main-footer__social-link--telegram" href="https://t.me/htmlacademy"><span class="visually-hidden">Телеграм</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main-footer__copyright copyright">
			<a class="copyright__link" href="https://htmlacademy.ru/intensive/adaptive">
				<span class="visually-hidden">Разработано в</span> HTML Academy
			</a>
		</div>
	</div>
</footer>
