<header class="page-header">
	<div class="page-header__wrapper page__centerer">
		<div class="page-header__logo-toggle-wrapper">
			<a class="page-header__logo" href="index.html">
				<svg class="page-header__logo-svg" width="33" height="37" style="margin-top: 11px">
					<use href="img/logo.svg#icon-mobile"></use>
				</svg>

				<svg class="page-header__logo-svg-text" width="101" height="18" style="margin-top: 22px">
					<use href="img/logo.svg#icon-text"></use>
				</svg>
			</a>
			<button class="page-header__toggle page-header__toggle--nojs" type="button"><span class="visually-hidden">Открыть меню</span></button>
		</div>
		<ul class="page-header__nav-list page-header__nav-list--nojs site-list">
			{% for page in pages %}
			<li class="site-list__item site-list__item--current ">
				<a class="site-list__item-link" href="{{page.path}}" {% if permalink==page.path %}aria-current="page" {% endif %}>
					{{page.name}}
				</a>
			</li>
			{% endfor %}
		</ul>
		</nav>
	</div>
</header>
