{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<section class="catalog">
		<h1 class="catalog__title page__centerer">Каталог продукции</h1>
		<ul class="catalog__card-list">
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy PRO 500 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/1", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">500 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Курица</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">700 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/2", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">1000 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Курица</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">1000 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy PRO 500 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/3", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">500 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Рыба</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">700 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy PRO 1000 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/4", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">1000 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Рыба</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">1000 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy slim 500 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/5", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">500 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Гречка</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">400 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy slim 1000 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/6", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">1000 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Гречка</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">700 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item product-card">
				<div class="product-card__wrapper">
					<a class="product-card__link" href="#">
						<h3 class="product-card__label">Cat Energy slim 500 г</h3>
					</a>
					<a class="product-card__link-img" href="#">
						{% include "templates/picture.twig" with {name: "products/7", class: "product-card__img", alt: "Банка корма Cat Energy Pro."} %}
					</a>
					<div class="product-card__description">
						<p class="product-card__description-item">Масса</p>
						<p class="product-card__description-value">500 г</p>
						<p class="product-card__description-item">Вкус</p>
						<p class="product-card__description-value">Рис</p>
						<p class="product-card__description-item">Цена</p>
						<p class="product-card__description-value">500 ₽</p>
					</div>
					<a class="product-card__button button" href="#">Заказать</a>
				</div>
			</li>
			<li class="catalog__card-item card-show-more">
				<div class="card-show-more__wrapper">
					<h3 class="card-show-more__label">Показать еще 100500 товаров</h3>
					<p class="card-show-more__description">На самом деле вкусов гораздо больше!</p>
					<a class="card-show-more__button" aria-current="page" href="catalog.html">Показать все</a>
				</div>
			</li>
		</ul>
	</section>
	<section class="additional-catalog page__centerer">
		<h2 class="additional-catalog__label heading">
			<span class="heading__decorated">Дополнительные товары</span>
		</h2>
		<div class="additional-catalog__wrapper">
			<ul class="additional-catalog__list">
				<li class="additional-catalog__item additional-product-card">
					<h3 class="additional-product-card__label">Сахарозаменитель</h3>
					<div class="additional-product-card__discription">
						<p class="additional-product-card__quantity">1 упаковка (100 г)</p>
						<p class="additional-product-card__price">200 ₽</p>
					</div>
					<a class="additional-product-card__button button" href="#">Заказать</a>
				</li>
				<li class="additional-catalog__item additional-product-card">
					<h3 class="additional-product-card__label">Питьевая вода</h3>
					<div class="additional-product-card__discription">
						<p class="additional-product-card__quantity">5 литров</p>
						<p class="additional-product-card__price">50 ₽</p>
					</div>
					<a class="additional-product-card__button button" href="#">Заказать</a>
				</li>
				<li class="additional-catalog__item additional-product-card">
					<h3 class="additional-product-card__label">Молоко</h3>
					<div class="additional-product-card__discription">
						<p class="additional-product-card__quantity">1 литр</p>
						<p class="additional-product-card__price">100 ₽</p>
					</div>
					<a class="additional-product-card__button button" href="#">Заказать</a>
				</li>
				<li class="additional-catalog__item additional-product-card">

					<h3 class="additional-product-card__label">Витамины</h3>
					<div class="additional-product-card__discription">
						<p class="additional-product-card__quantity">1 упаковка (30 г)</p>
						<p class="additional-product-card__price">300 ₽</p>
					</div>
					<a class="additional-product-card__button button" href="#">Заказать</a>
				</li>
			</ul>
			<article class="additional-catalog__promotion promotion">
				<h3 class="visually-hidden">Промоакция</h3>
				<div class="promotion__description">
					<p>Закажите все и получите чехол для кота в подарок!</p>
				</div>
			</article>
		</div>
	</section>

	{% include "./templates/cooperation.twig" %}
</main>
{% endblock %}
