{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">

	<section class="form page__centerer">
		<h1 class="form__title">Подбор программы</h1>
		<p class="form__description">Заполните анкету, и мы подберем программу питания для вашего кота</p>
	</section>

	<form class="page-form" action="https://echo.htmlacademy.ru/" method="get">
		<div class="page-form__field-wrapper">
			<div class="cat-information" role="group" aria-describedby="cat-info">
				<div class="visually-hidden" id="cat-info">Информация о вашем коте</div>
				<div class="cat-information__wrapper page__centerer">
					<label class="cat-information__label label" for="cat-name">Имя:<span aria-hidden="true">*</span></label>
					<input class="cat-information__name field" id="cat-name" name="cat-name" type="text" placeholder="Барсик" required>
				</div>
				<div class="cat-information__wrapper page__centerer">
					<label class="cat-information__label label" for="cat-weight">Вес (кг):<span aria-hidden="true">*</span></label>
					<input class="cat-information__weight field" id="cat-weight" name="cat-weight" type="number" placeholder="7" required>
				</div>
				<div class="cat-information__wrapper page__centerer">
					<label class="cat-information__label label" for="cat-age">Возраст (лет):</label>
					<input class="cat-information__age field" id="cat-age" name="cat-age" type="number" placeholder="7">
				</div>
			</div>
			<div class="program-goal" role="group" aria-describedby="program-goal">
				<div class="page__centerer program-goal__wrapper-desktop">
					<div class="program-goal__wrapper">
						<div class="visually-hidden" id="program-goal">Цель программы</div>
						<label class="program-goal__item-label">
							<input class="program-goal__item" type="radio" name="program-goal" value="lose weight" checked>
							Похудение
						</label>
						<label class="program-goal__item-label">
							<input class="program-goal__item" type="radio" name="program-goal" value="gain weight">
							Набор массы
						</label>
						<label class="program-goal__item-label">
							<input class="program-goal__item" type="radio" name="program-goal" value="I don't know">
							Не знаю (Нужен ваш совет)
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="contacts" role="group" aria-describedby="cat-owner-contacts">
			<div class="page__centerer">
				<div class="contacts__title extra-form-title heading" id="cat-owner-contacts">
					<span class="heading__decorated">
						Контактные данные (владельца кота)
					</span>
				</div>
				<div class="contacts__wrapper">
					<div class="contacts__item">
						<label class="contacts__label contacts__label--email label" for="email">E-mail:<span aria-hidden="true">*</span></label>
						<input class="contacts__email field" id="email" name="email" type="text" placeholder="кuklachev@gmail.com" required>
					</div>
					<div class="contacts__item">
						<label class="contacts__label contacts__label--phone label" for="phone">Телефон:<span aria-hidden="true">*</span></label>
						<input class="contacts__phone field" id="phone" name="phone" type="number" placeholder="8 (960) 900-60-90" required>
					</div>
				</div>
			</div>
		</div>
		<div class="comment page__centerer">
			<label class="comment__title extra-form-title heading" for="comment">
				<span class="heading__decorated">Комментарий</span>
			</label>
			<textarea class="comment__field field" name="comment" id="comment" placeholder="Расскажите обо всех повадках кота"></textarea>
		</div>
		<div class="additional" role="group" aria-describedby="additional-goods">
			<div class="page__centerer">
				<div class="additional__title  extra-form-title heading" id="additional-goods">
					<span class="heading__decorated">Дополнительно</span>
				</div>
				<ul class="additional__product-list">
					<li class="additional__product-item">
						<label class="additional__product-title">
							<input class="additional__product-control-input" type="checkbox" name="additional-product" value="sweetener" checked>
							Сахарозаменитель
						</label>
					</li>
					<li class="additional__product-item">
						<label class="additional__product-title">
							<input class="additional__product-control-input" type="checkbox" name="additional-product" value="drinking water">
							Питьевая вода
						</label>
					</li>
					<li class="additional__product-item">
						<label class="additional__product-title">
							<input class="additional__product-control-input" type="checkbox" name="additional-product" value="milk">
							Молоко
						</label>
					</li>
					<li class="additional__product-item">
						<label class="additional__product-title">
							<input class="additional__product-control-input" type="checkbox" name="additional-product" value="vitamins">
							Витамины
						</label>
					</li>
				</ul>
			</div>
		</div>

		<div class="page-form__button-wrapper page__centerer">
			<button class="page-form__button button" type="submit">Отправить заявку</button>
			<p class="page-form__text" aria-hidden="true">* — Обязательные поля</p>
		</div>
	</form>

	{% include "./templates/cooperation.twig" %}
</main>
{% endblock %}
