{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-container">
	<section class="cat-energy-description">
		<div class="page__centerer cat-energy-description__container">
			<div class="cat-energy-description__wrapper">
				<h1 class="cat-energy-description__title">Функциональное питание для котов</h1>
				<div class="cat-energy-description__text">Занялся собой? Займись котом!</div>
				<a class="cat-energy-description__button button" href="form.html">подобрать программу</a>
			</div>
			{% include "templates/picture.twig" with {name: "can", class: "cat-energy-description__img", alt: "Корм Cat Energy Pro со вкусом курицы."} %}
		</div>
	</section>
	<ul class="program-type page__centerer">
		<li class="program-type__card program-type__card--has_icon program-type__card--icon_slim">
			<h2 class="program-type__title heading heading--lvl_3">Похудение</h2>
			<p class="program-type__description">Ваш кот весит больше собаки и почти утратил способность лазить по деревьям? Пора на диету! Cat Energy Slim поможет вашему питомцу сбросить лишний вес.</p>
			<a class="program-type__link program-type__link--has-icon program-type__link--icon-arrow" href="catalog.html">каталог slim</a>
		</li>
		<li class="program-type__card program-type__card--has_icon program-type__card--icon_pro">
			<h2 class="program-type__title heading heading--lvl_3">Набор массы</h2>
			<p class="program-type__description">Заработать авторитет среди дворовых котов и даже собак? Серия Cat Energy Pro поможет вашему коту нарастить необходимые мышцы!</p>
			<a class="program-type__link program-type__link--has-icon program-type__link--icon-arrow" href="catalog.html">Каталог pro</a>
		</li>
	</ul>
	<section class="advantages page__centerer">
		<h2 class="advantages__title heading heading--lvl_2">Как это работает</h2>
		<ul class="advantages__list">
			<li class="advantages__item advantages__item--icon-leaf">
				<div>Функциональное питание содержит только полезные питательные вещества.</div>
			</li>
			<li class="advantages__item advantages__item--icon-pot">
				<div>Выпускается в виде порошка, который нужно лишь залить кипятком и готово.</div>
			</li>
			<li class="advantages__item advantages__item--icon-cutlery">
				<div>Замените один-два приема обычной еды на наше функциональное питание.</div>
			</li>
			<li class="advantages__item advantages__item--icon-alarm">
				<div>Уже через месяц наслаждайтесь изменениями к лучшему<span class="line-feed"></span> вашего питомца!</div>
			</li>
		</ul>
	</section>
	<section class="example">
		<div class="example__container page__centerer">
			<div class="example__text-wrapper">
				<h2 class="example__title heading heading--lvl_2">Живой пример</h2>
				<div class="example__description">
					Борис сбросил 5 кг за 2 месяца, просто заменив свой обычный корм на Cat Energy Slim. Отличный результат без изнуряющих тренировок! При этом он не менял своих привычек и по-прежнему спит по 16 часов в день.
				</div>
				<dl class="example__result-list">
					<div class="example__result-item cartouche">
						<dt class="example__result-key cartouche__key">Снижение веса</dt>
						<dd class="example__result-value cartouche__value">5 кг</dd>
					</div>
					<div class="example__result-item cartouche">
						<dt class="example__result-key cartouche__key">Затрачено времени</dt>
						<dd class="example__result-value cartouche__value">60 дней</dd>
					</div>
					<div class="example__result-item example__result-item--total ">
						<dt class="example__result-key">Затраты на питание:</dt>
						<dd class="example__result-value">15 000 РУБ.</dd>
					</div>
				</dl>
			</div>
			<figure class="example__compare compare">
				<figcaption class="compare__description visually-hidden">
					Кот Борис до и после 2 месяцев питания кормом Cat Energy Slim.
				</figcaption>
				<div class="compare__wrapper slider" style="--curtain-place: 0.5;">
					{% include "templates/picture.twig" with {name: "slide-before", class: "compare__image slider__image slider__image--state_before", alt: "Толстый кот до похудения."} %}
					<div class="slider__curtain">
						<button class="slider__thumb" type="button">
							<span class="visually-hidden">Ползунок слайдера</span>
						</button>
					</div>
					{% include "templates/picture.twig" with {name: "slide-after", class: "compare__image slider__image slider__image--state_after", alt: "Худой кот после похудения."} %}
				</div>
			</figure>
		</div>
	</section>

	{% include "./templates/cooperation.twig" %}
</main>

{% endblock %}
